.home-slider {
    margin-top: 308px;
    height: 800px;

    /* width: 1560px; */
    width: 100%;
    background: #FFFFFF;
    margin-top: 27px;
    flex-grow: 1;
}
.home-slider section {
    width: 83%;
    height: 54px;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    margin: 0 auto;
    margin-bottom: 14px;
}
@media (max-width:1520px) {
    .home-slider {
        height: 800px;
    }
    .home-slider section {
        font-size: 30px;
    }
}
@media (max-width:1220px) {
    .home-slider {
        height: 670px;
        margin-top: 27px;
    }
    .home-slider section {
        font-size: 25px;
    }
}
@media (max-width:998px) {
    .home-slider {
        height: 490px;
        margin-top: 70px;
    }
    .home-slider section {
        font-size: 20px;
    }
}
@media (max-width:767px) {
    .home-slider {
        height: 469px;
        margin-top: 50px;
    }
}