.home-slider {
    margin-top: 308px;
    height: 800px;
    /* width: 1560px; */
    width: 100%;
    background: #FFFFFF;
    display: block;
}
.home-slider section {
    width: 78%;
    height: 54px;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    margin: 0 auto;
    margin-bottom: 14px;
}