.page {
  position: relative;
  /* width: 1560px; */
  max-width: 100%;
}
.page button {
  width: 68px;
  height: 68px;
  position: absolute;
  background: #FFFFFF;
  border: 1.7px solid #F8F8F8;
  box-sizing: border-box;
  box-shadow: 0px 3.4px 17px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  font-size: 20px;
  color: #757575;
  font-weight: bold;
  position: absolute;
  z-index: 3;
  top: calc(50% - 68px/2);
  
  opacity: 0.5;
}
#prev {
  right: 4.8%;
}
#next{
  left: 4.8%;
}

.page button:hover {
  box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(94, 100, 100, 0.349);
}
.cards-slider {
  position: relative;
  max-width: 85%;
  margin: 0 auto; }
.new-wrap {
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  width: 100%; /* change */
  height: 535px;
  }

.cards-slider-wrapper {
  display: flex;
  transition: transform 300ms;
}
@media (max-width:1520px) {
  .new-wrap {
    height: 490px;
    }
}
@media (max-width:1220px) {
  #prev {
    right: 4%;
  }
  #next{
    left: 4%;
  }
  .new-wrap {
    height: 410px;
    }
}
@media (max-width:998px) {
  .new-wrap {
    height: 310px;
    }
}
@media (max-width:767px) {
  .new-wrap {
      height: 300px;
    }
} 