.page {
  position: relative;
  
}
.page button {
  width: 68px;
  height: 68px;
  position: absolute;
  background: #FFFFFF;
  border: 1.7px solid #F8F8F8;
  box-sizing: border-box;
  box-shadow: 0px 3.4px 17px rgba(0, 0, 0, 0.1);
  /* display: inline-block; */
  border-radius: 50px;
  font-size: 20px;
  color: #757575;
  font-weight: bold;
  position: absolute;
  z-index: 3;
  top: calc(50% - 24px/2);
  
  opacity: 0.5;
}
#prev {
  right: 8.5%;
}
#next{
  left: 8.5%;
}
.page button:hover {
  box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(94, 100, 100, 0.349);
}
.cards-slider {
  position: flex;
  max-width: 80%;
  
  /* max-height: 525px; */
  margin: 0 auto; }
.new-wrap {
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 535px;
  }
.cards-slider {
  position: relative;
}
.cards-slider-wrapper {
  display: flex;
  /* transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0,955); */
  transition: transform 300ms;
}